@media screen and (max-width: 1023px) {
  :root {
    --font-size: 2rem;
  }

  .title-larger {
    font-size: 5rem;
  }
  .header {
    .navba {
      position: absolute;

      top: 0;
      width: 50%;
      display: none;
      background-color: rgba($color: #000000, $alpha: 0.9);
      .nav__list {
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;

        .nav__item {
          text-align: center;

          a {
            font-size: 3rem;
            color: var(--white-clr);
          }
        }
      }

      animation: toLeft 0.5s ease forwards;

      @keyframes toLeft {
        from {
          right: -100%;
        }
        to {
          right: 0;
        }
      }
    }
    .active {
      display: block;
    }
  }

  .hero {
    .hero__content {
      .sub-title {
        margin-bottom: 4rem;
      }
    }
  }

  .features {
    .head-feature {
      top: -10rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 10rem;
  }
  .logo {
    width: 15rem;
  }
  .title-larger {
    font-size: 4rem;
    line-height: 6rem;
  }

  .title-small {
    font-size: 3rem;
    line-height: 5rem;
  }

  .btn {
    padding: 1.5rem 5rem;
  }

  p.title-small {
    text-align: center;
    margin: 4rem 0;
  }

  .features {
    .head-feature {
      img {
        width: 20rem;
      }
    }

    .how-the-app-work {
      .content {
        height: 80rem;
        flex-direction: column;

        .media {
          width: 30rem;
        }
        .text {
          width: 100%;
          text-align: center;
          .title-small {
            margin: 2rem 0;
          }
        }

        &:nth-of-type(2) {
          position: relative;
          .media {
            position: absolute;
            top: 0;
          }

          .text {
            position: absolute;
            bottom: -5rem;
          }
        }
      }
    }
  }

  .footer {
    .footer__content {
      .sci__list {
        margin: 0 1rem;
        img {
          width: 2rem;
        }
      }

      .copyright {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .title-small {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .title-very-small {
    font-size: 2rem;
  }

  p {
    font-size: 1.6rem;
  }

  .btn {
    padding: 1.5rem 5rem;
    margin: 0.5rem;
  }

  p.title-small {
    text-align: center;
    margin: 4rem 0;
  }

  .btn {
    padding: 1rem 3rem;
  }

  .features {
    .head-feature {
      top: 0rem;
    }

    .how-the-app-work {
      .content {
        height: 50rem;
        .media {
          width: 20rem;
        }
        .text {
          text-align: center;
          .title-small {
            margin: 1rem 0;
          }
        }

        &:nth-of-type(2) {
          .text {
            position: absolute;
            bottom: -12rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }
  .logo {
    width: 10rem;
  }
}
